.container{
max-width: 350px;
max-height: 1000px;
margin: 0 auto;
background-color:white;
box-shadow: 0 0 5px gray;
margin-top: 50px;
padding-bottom: 20px;
}
.header{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.balance{
    padding-left: 15px;
}
.income-expense-container{
  display: flex;
  justify-content: space-around;
  background-color: rgb(236, 206, 160);
  box-shadow: 0 0 3px rgb(241, 213, 222);
}
.transaction-class{
    padding-left: 15px;
}
.transaction input{
    width:90%;
    margin-top: 10px;
    padding:5px 0;
    
}
.history{
    padding-left: 15px;
}
li plus{
    border-top: green;
}
li minus{
    border-color: red;
}